<!-- Footer -->
<div class="site-footer">
	<small class="copy">
		&copy; James Wigger, 2015.
		Based on <i><a target="_blank" href="https://github.com/johnotander/pixyll">Pixyll</a></i>.
	</small>
</div>
<!-- ./Footer -->

<!-- Scripts -->
<script>
	function bannerAccent() {
		var $banner = document.getElementsByClassName('banner');
		var hr = new Date().getHours();

		// Set active times
		var data = [
			[0, 9, true],
			[10, 18, false],
			[19, 24, true]
		];

		for(var i = 0; i < data.length; i++)
		{
			if(hr >= data[i][0] && hr <= data[i][1])
			{
				if(data[i][2])
				{
					console.log($banner);
					$banner[0].className += ' --dusk';
				}
			}
		}
	}

	// Syntax Highlighting
	loadJS('//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/highlight.min.js', function(){
		hljs.initHighlightingOnLoad();
	});

	loadCSS('{{ "/css/main.css" | prepend: site.baseurl }}');
	// loadCSS('//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css');
	loadCSS('//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/hybrid.min.css');
	window.onload = bannerAccent;
</script>
<!-- ./Scripts -->

<!-- Fallbacks -->
<noscript>
	<link href='{{ "/css/main.css" | prepend: site.baseurl }}">' rel='stylesheet' type='text/css' />
</noscript>
<!-- ./Fallbacks -->