// ==========================================================================

// VARIABLES
// Primary Styling Configurations

// ========================================================================== 

// COLOR PALETTES
// ==========================================================================
$palettes: (
	'copy': (
		base: #30485F,
		pale: #4D5860
	),
	'accent': (
		base: #07A2B1
	),
	'border': (
		base: #F0F0F0
	)
);

// FONT FAMILIES
// ==========================================================================
$fonts: (
	headers: (
		stack: ('lato', 'helvetica', sans-serif),
		weights: (
			regular:  300,
			bold:     700
		)
	),
	body: (
		stack: ('Merriweather Sans', 'helvetica', sans-serif),
		weights: (
			regular:  300,
			bold:     700
		)
	),
);

$base-font-size: 18;
$base-font-line: 30;

// DIRECTORIES
// ==========================================================================
$base-image-path:   '../images/';
$base-icon-path:    '#{$base-image-path}icons/';
$base-graphic-path: '#{$base-image-path}graphics/';
$base-font-path:    '../fonts/';

// LAYOUT
// ==========================================================================
$base-body-max-width: 990px;
$base-body-width: 90%;

$layers: (
	"base":    1,
	"banner":  2,
	"nav":     3,
	"overlay": 4,
	"modal":   5
);
